@page "/orders"
@inject NavigationManager NavigationManager
@inject IOrderService OrderService
@inject IUserContextService UserContextService

<h1 class="text-3xl font-bold text-gray-800 mb-6 ml-28">Đơn hàng</h1>

<div class="mx-auto max-w-4xl bg-white shadow-md rounded-lg overflow-hidden">
    <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200">
            <thead class="bg-gray-50">
                <tr>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Đơn hàng
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Ngày đặt
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Tình trạng
                    </th>
                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                        Tổng tiền
                    </th>
                    <th scope="col" class="relative px-6 py-3">
                        <span class="sr-only">View</span>
                    </th>
                </tr>
            </thead>
            <tbody class="bg-white divide-y divide-gray-200">
                @if (orders != null)
                {
                    @foreach (var order in orders)
                    {
                        <OrderItem Order="order" />
                    }
                }
                else
                {
                    <tr>
                        <td colspan="5" class="px-6 py-4 text-center text-gray-500">No orders found.</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

    @* <DynamicPagination Count="@totalPages" Selected="@currentPage" OnPageChanged="OnPageChanged" /> *@
</div>

@code {
    public List<OrderModel>? orders;
    public int totalPages;
    // public int pageSize = 10;
    // private int currentPage = 1;
    private bool _hasLoaded = false;
    private CustomerModel? currentCustomer;

    // Dictionary để tra cứu nhanh: Key = ID Khách, Value = Tên Khách
    // private Dictionary<int, string> customerLookup = new Dictionary<int, string>();

    protected override async Task OnInitializedAsync()
    {
        // await LoadData();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_hasLoaded)
        {
            _hasLoaded = true;
            await LoadData();
            StateHasChanged();
        }
    }

    private async Task LoadData()
    {
        currentCustomer = await UserContextService.GetCurrentCustomerAsync();
        var response = await OrderService.GetOrdersByCustomerIdAsync(currentCustomer.CustomerId);
		
        if (response != null)
        {
            orders = response.Content;
        }
    }

    // public async Task OnPageChanged(int page)
    // {
    //     currentPage = page;
    //     await LoadData(page);
    //     StateHasChanged();
    // }
}
