@page "/product"
@inject IProductService ProductService
@inject ICategoryService CategoryService

<div class="grid grid-cols-1 lg:grid-cols-5">
    <div class="d-grid lg:col-span-1"></div>
    <div class="d-grid lg:col-span-4">
        <div>
            <div class="items-center flex">
                <Icon Name="IconName.Search"
                      IconSize="IconSize.ExtraSmall"
                      Class="absolute pl-1 text-gray-400" />
                <input type="text" placeholder="Tìm kiếm..."
                       class="text-sm pl-6 border-gray-350 border rounded-lg py-1 focus:border-sky-500 focus:outline focus:outline-sky-500" />
            </div>


        </div>
    </div>

    <ProductFilter />
    @if(products == null)
    {
        <Progress Color="Color.Success" Class="bg-sky-50 *:bg-blue-500 lg:col-span-4" Indeterminate />
    }
    else
    {
        <div class="flex-column items-center justify-center lg:col-span-4 mt-4">
            <div class="grid grid-cols-2 md:grid-cols-4 gap-6">
            @foreach(var product in products)
            {
                <ProductCard Product="@product" />
            }
            </div>

            <DynamicPagination Count="@totalPages" Selected="@currentPage" OnPageChanged="OnPageChanged" />
        </div>
    }
</div>

@code {
    public List<ProductModel>? products;
    public int totalPages;
    public int pageSize = 12;
    private int currentPage = 1;

    private Dictionary<int, string> categoryLookup = new Dictionary<int, string>();

    protected override async Task OnInitializedAsync()
    {
        var categories = await CategoryService.GetCategoriesAsync();
        if(categories != null)
        {
            categoryLookup = categories.Content.ToDictionary(c => c.CategoryId, c => c.CategoryName);
        }
        await LoadData(1);
    }

    private async Task LoadData(int page)
    {   
        var response = await ProductService.GetProductsPageAsync(page, pageSize);
        if (response != null)
        {
            products = response.Content;

            foreach(var product in products)
            {
                if(categoryLookup.TryGetValue(product.CategoryId, out var categoryName))
                {
                    product.CategoryName = categoryName;
                }
            }

            totalPages = response.Metadata.TotalPages;
        }
    }

    public async Task OnPageChanged(int page)
    {
        currentPage = page;
        await LoadData(page);
    }

}