<div class="bg-white flex py-4 px-4 items-center justify-between">
    <div class="items-center flex">
        <Icon Name="IconName.Search"
              Class="absolute pl-1 text-gray-400"/>
        <input type="text " placeholder="Search..." 
               class="text-sm pl-6 border-gray-400 border rounded-lg py-1 focus:border-sky-500 focus:outline focus:outline-sky-500" />
    </div>

    <div class="flex gap-4">
        <Icon Name="IconName.Cart"
              IconSize="IconSize.Large"
              Class="text-gray-400"></Icon>

        <Icon Name="IconName.User"
              IconStyle="IconStyle.Regular"
              IconSize="IconSize.Large"
              Class="text-gray-400"></Icon>
    </div>
</div>

