@inject ICategoryService CategoryService

<div class="lg:col-span-1 mr-2">
    <div class="bg-white p-4 rounded-lg border border-gray-200 shadow-sm sticky top-4">

        <FilterGroup Title="Danh mục">
            @if(categories != null)
            {
                foreach(var category in categories)
                {
                    <label class="flex items-center gap-2 cursor-pointer">
                        <input type="checkbox" class="rounded text-blue-600 focus:ring-blue-500" />
                        <span class="text-xs text-gray-700">@category.Name</span>
                    </label>
                }
            }
        </FilterGroup>

        <button class="w-full mt-6 bg-blue-600 text-white font-semibold py-2 rounded hover:bg-blue-700 text-xs"
                @onclick="ShowAlert">
            Áp dụng
        </button>

        <Alert Class="text-green-700"
               @bind-Visible="visible">
            <AlertMessage>Well done!</AlertMessage>
            <AlertDescription>You successfully read this important alert message.</AlertDescription>
        </Alert>
    </div>
</div>

@code {
    [Parameter] public EventCallback<List<String>> OnFilterApply { get; set; }

    private List<CategoryDTO>? categories;
    private bool visible = false;

    protected override async Task OnInitializedAsync()
    {
        var response = await CategoryService.GetCategoriesAsync();
        categories = response?.Content;
    }

    public async Task ShowAlert()
    {
        visible = true;
        await Task.Delay(3000);
        visible = false;
    }
}